@import "globalVariables.scss";


.recipe-entry {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 28px;
    height: 115px;
    margin: 20px 0;    
    font-size: 28px;
    
    @media (max-width: $min-viewport-width) {
        font-size: 16px;
    }

    .entry-content {
        padding: 0 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;

                
        @media (max-width: $min-viewport-width) {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .category-icon {
            width: 100px;
            height: 100px;
            margin: 0 15px 0 0;

            @media (max-width: $min-viewport-width) {
                display: none;
            }
        }

        .meal-name {
            font-weight: bold;
            width: 550px;
                    
            @media (max-width: $min-viewport-width) {
                width: 100%;
            }
        }

        .meal-category {
            width: 450px;

            @media (max-width: $min-viewport-width) {
                display: none;
            }
        }

        .meal-area {
            width: 240px;
            @media (max-width: $min-viewport-width) {
                display: none;
            }
        }

        .button {
            background-color: $dark-pink;
            padding: 5px;
            border-radius: 24px;
            width: 230px;
            text-decoration: none;
        
            @media (max-width: $min-viewport-width) {
                width: 100%;
            }

            .button-content {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                color: white;
            }
        }
    }
}