@import "globalVariables.scss";

.banner-container {
    width: 100%;
    height: 480px;
    background-color: $pink;
    border-radius: 28px;
    display: flex;

    @media (max-width: $min-viewport-width) {
        height: 20vh;
    }

    .left-side {
        width: 50%;

        svg {
            width: 407px;
            margin-top: -65px;
            margin-left: 90px;
        }

        @media (max-width: $min-viewport-width) {
            display: none;
        }
    
    }

    .right-side {
        width: 60%;
        padding: 15px;

        @media (max-width: $min-viewport-width) {
            width: 100%;
            padding: 20px;
        }

        .right-side-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            @media (max-width: $min-viewport-width) {
                height: 100%;
                justify-content: space-around;
                align-items: center;
                text-align: center;
            }

            .welcome-text {
                width: 80%;
                font-size: 42px;
                color: white;
                font-weight: bold;
                margin-bottom: 35px;

                .highlight {
                    color: $neon-green;
                }

                @media (max-width: $min-viewport-width) {
                    font-size: 18px;
                    width: 100%;
                    margin-bottom: 5px;
                }
            }

            .button {
                background-color: $dark-pink;
                color: white;
                border-radius: 24px;
                width: 40%;
                padding: 15px;
                text-align: center;
                text-decoration: none;
                font-size: 32px;
                display: flex;
                justify-content: space-around;

                @media (max-width: $min-viewport-width) {
                    width: 50%;
                    font-size: 18px;
                    padding: 5px;

                }
            }
        }
    }
}