@import "globalVariables.scss";

.banner-container {
    width: 85vmax;
    height: 523px;
    background-color: $pink;
    border-radius: 28px;
    display: flex;

    @media (max-width: $min-viewport-width) {
        width: 90%;
        height: 40%;
    }
}