@import "globalVariables.scss";

.content {
    width: 100%;
    padding: 90px 65px 0 65px;
    overflow: auto;

    .headline {
        margin: 65px 0 35px 0;
        font-size: 32px;

        .letter {
            color: $dark-pink;
            font-weight: 600;
        }
    }
}