$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .main-container {
        display: block;
        width: 100%
    }
}

.main-container {
    display: flex;
    flex-direction: row;

    .content {
        width: 93%;
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }
}