@import "globalVariables.scss";

.content {
    width: 100%;
    padding: 90px 65px 0 65px;
    overflow: auto;

    
    @media (max-width: $min-viewport-width) {
        padding: 10px;
    }

    .loading {
        height: 100%;
        width: 100%;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}