@import "globalVariables.scss";

.error-page {
    margin: auto;
    height: 100%;

    .error-content {
        text-align: center;
        padding: 35px;

        svg {
            margin-bottom: 25px;
            width: 100%
        }

        .error-message {
            font-size: 32px;

            @media (max-width: $min-viewport-width) {
                font-size: 16px;
            }
        }
    }
}