@import "globalVariables.scss";

.side-menu {
    height: 100vh;
    width: 140px;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .menu-item { 
            display: flex;
            flex-direction: column;
            align-items: center;

            .item-icon {
                width: 110px;
                height: 110px;
            }            

            .item-name {
                font-size: 16px;
            }
        }
    }
}
    
